<!DOCTYPE html>
<html>
<head>
  {% block title %}Google Maps and Search HTML --> css 적용 필요{% endblock %}
  {% block content %}
  <div id="content">
      <h1>Search</h1>
      <form method="post">
          {% csrf_token %}
          {{ form.as_table }}
          <input type="submit" value="Search">
      </form>

      <br><br>
         {% if object_list %}
          {% for post in object_list %}
          <!--    <h2><a href="{{post.homepage}}" id = "name">{{ post.name }}</a></h2>
              <p><b>주소</b></p> -->
                <div id ={{forloop.counter0}} style="display:none">
                    {{ post.id }}$
                    {{ post.name }}$
                    {{ post.address }}$
                    {{ post.post_number}}$
                    {{ post.number }}$
                    {{ post.introduce }}$
                    {{post.homepage}}
                </div>

                <div>
                  <ul>
                      <li><b>운동 시설 이름 : </b><a href="{{post.id}}">{{ post.name }}</a></li>
                      <li><b>주소</b> : {{ post.address }}</li>
                      <li><b>우편 번호</b> : {{ post.post_number}}</li>
                      <li><b>전화번호</b> : {{ post.number }}</li>
                      <li><b>간략한 소개</b> : {{ post.introduce }}</li>
                      <li><b>홈페이지 : </b><a href="{{post.homepage}}">{{post.homepage}}</a></li>
                  <ul>
                </div>
          <!--
              <p><b>우편번호</b></p>
              <ul>
                  <li class ={{forloop.counter0}}>{{ post.post_number }}</li>
              </ul>
               <p><b>전화번호</b></p>
              <ul>
                  <li class={{forloop.counter0}}>{{ post.number }}</li>
              </ul>
              <p><b>소개</b></p>
              <ul>
                  <li class={{forloop.counter0}}>{{ post.introduce }}</li>
              </ul>
-->

          {% endfor %}

      {% elif search_term %}
          <b><i>Search Word({{ search_term }}) Not Found !</i></b>
      {% endif %}
  </div>
  {% endblock content %}


  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>Google Maps Multiple Markers</title>
  <script src="http://maps.google.com/maps/api/js?key=AIzaSyAOW3dUIVqUhDOH-a26cZ8dqwO_E3gKrkQ"
          type="text/javascript"></script>

  <div id="map" style="width: 500px; height: 400px;"></div>
  <script type="text/javascript">


function initialize(){

    let map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: new google.maps.LatLng(37.549012, 126.988546),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    let infowindow = new google.maps.InfoWindow();
    let object_list = "{{ object_list }}";
    let count = 0;


    for (let j = 0; j < object_list.length-4; j++){
      if(object_list.slice(j,j+4).match("info")){
        count++;
      } //end if
    } //end for
    //검색한 단어가 포함된 object 개수 --> address 개수 추출을 위함

    console.log("count : "+ count);

    var total_info_list = [] //모든 정보 담은 리스트
    for (var i = 0; i < count ; i++){
      total_info_list[i] = document.getElementById(i).innerHTML; //내부 텍스트만 빼내기
      console.log(total_info_list[i]);
    }

    var id_list = [] //primary key 저장 리스트
    var name_list = [] //이름 저장 리스트
    var address_list = [] //주소 저장 리스트
    var post_number_list = [] //우편 번호 저장 리스트
    var number_list = [] //전화번호 저장 리스트
    var information_list = [] //정보 저장 리스트
    var homepage_list = []
    var list = []

    var id = "";
    var name = "";
    var address = "";
    var post_number = "";
    var number = "";
    var information = "";
    var homepage = "";

    for (var i = 0; i < total_info_list.length; i++){
        list.push(total_info_list[i].split('$'));
    } //end for i --> 이름별로 정보 1차로 쪼갬 --> 밑에 이름,주소,우편번호,번호,정보, 홈페이지 별로 다시 담기



    for(var p = 0; p < count; p++){
        id_list[p] = list[p][0]
        name_list[p] = list[p][1]
        address_list[p] = list[p][2]
        post_number_list[p] = list[p][3]
        number_list[p] = list[p][4]
        information_list[p] = list[p][5]
        homepage_list[p] = list[p][6]
    } //end for p && information별로 list 저장

    console.log(list)
    console.log("id list"+id_list)
    console.log("name list"+name_list)
    console.log("address list"+address_list)
    console.log("post_number_list" + post_number_list)
    console.log("number_list" + number_list)
    console.log("information_list"+information_list)
    console.log("homepage_list"+homepage_list)


     //end for p && information별로 list 저장


/*
    let address_list = []
    let address;
    for (let i = 0; i < count ; i++){
      address = document.getElementById(i).innerHTML; //내부 텍스트만 빼내기
      console.log(address);
      address_list[i] = address;
    }
      console.log("address_list :" + address_list);
    //address 개수 만큼 id를 검색해서 주소만 추출하기
*/    //나중에 페이지 다시 접속하면 count 갱신되어야 함


    ///////////////////////////////////////////geocode/////////////////////////////////////////////////
    let locations = []; //위도 경도 저장을 위한 location array 선언//..
      for (let i = 0; i < count; i++){
        locations[i] = [];
      } //검색한 결과 값이 1개보다 많으면 2차원 배열 선언해야함
    /*  for (let i =0; i < count; i++){
        for (let j = 0; j < 2; j++){
        console.log(locations[i][j])
      }
    } */

    let geocoder = new google.maps.Geocoder(); //주소로 위도 경도 계산위한 geocoder
    let faddr_lat; //위도
    let faddr_lng; //경도
    let marker;
    let k;
    for(k = 0; k < count ; k++){ //주소로 검색한 개수만큼 경도와 위도 계산
    geocoder.geocode( { 'address': address_list[k] }, (function(k) { return function(results, status) {
      console.log(k)
      console.log("ok")
      if (status == google.maps.GeocoderStatus.OK) {

        faddr_lat = results[0].geometry.location.lat(); //위도
        faddr_lng = results[0].geometry.location.lng(); //경도
        locations[k][0] = faddr_lat;
        locations[k][1] = faddr_lng;
        map.setCenter(results[0].geometry.location);
          marker = new google.maps.Marker({
          position: new google.maps.LatLng(locations[k][0], locations[k][1]),
          map: map,
          draggable : true,
          url : homepage_list[k]
        }); //end marker
        google.maps.event.addListener(marker, 'click', (function(marker, k) {
          return function() {
           var infoWindowContent = "<div><strong>Name:</strong></div>";
               infoWindowContent    += "<div>"+name_list[k]+"</div>";
               infoWindowContent    += "<div><strong>Address:</strong></div>";
               infoWindowContent    += "<div>"+address_list[k]+"</div>";
               infoWindowContent    += "<div><strong>Post_number:</strong></div>";
               infoWindowContent    += "<div>"+post_number_list[k]+"</div>";
               infoWindowContent    += "<div><strong>Number:</strong></div>";
               infoWindowContent    += "<div>"+number_list[k]+"</div>";
               infoWindowContent    += "<div><strong>Homepage:</strong></div>"
               infoWindowContent    += "<div><a href="+homepage_list[k]+">"+homepage_list[k]+"</a></div>";
               infoWindowContent    += "<div><strong>자세한 정보 보기 :</strong></div>"
               infoWindowContent    += "<div><a href="+id_list[k]+">"+"자세한 정보 보기"+"</a></div>";
            infowindow.setContent(infoWindowContent);
            infowindow.open(map, marker);
          } //end function
        })(marker,k)); //addListener end

        if(marker)
        {

          marker.addListener('click', function() {
            map.setZoom(15);
            map.setCenter(this.getPosition());
          });
        }//end if
      }//end if
    }
  })(k)
); //end geocoder
} //end for
}//end function
google.maps.event.addDomListener(window, 'load', initialize);
  </script>
  </head>
<body>
</body>
</html>
