{% extends "accounts/layout.html" %}
{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static "login_css.css" %}" />
{% endblock %}

{% block pure_content %}

<body class="my-login-page">
	<section class="h-100" style="padding-bottom: 100px">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">

                    <!-- here -->

					<div class="card fat" >
						<div class="card-body">

                            <div class="brand">
                                <img src="{% static "logo_menu.png" %}" alt="logo">
                            </div>

							<h3 align="center" class="card-title">계정 로그인</h3>
							<form action="" method="POST" class="my-login-validation" novalidate=""> {% csrf_token %}
								<div class="form-group">
									{{ form.username | as_crispy_field }}
								</div>
								<div class="form-group">
                                    {{ form.password | as_crispy_field }}
								    <div class="invalid-feedback">
								    	Password is required
							    	</div>
								</div>

								<div class="form-group m-0">
									<button type="submit" class="btn btn-primary btn-block">
										로그인
									</button>
								</div>
								<div class="mt-4 text-center">
									계정이 없으신가요? <a href="register.html">회원가입하기</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}



{% block extra_bottom %}
	<script src="js/my-login.js"></script>
{% endblock extra_bottom %}