{% extends "blog/layout.html" %}
{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static "ios_message.css" %}" >
    <style>
        .jumbotron {
              background-image: url({% static 'images/post_back.JPG' %});
              background-size: cover;
              text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.1em white;
              color: white;
          }
    </style>
{% endblock %}

{% block pure_content %}
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">{{ post.title }}</h1>
          <p class="lead text-muted"></p>
          <p>
            <a href="#" class="btn btn-primary my-2">#{{ post.sport }}</a>
            <a href="#" class="btn btn-primary my-2">{{ post.location }}</a>
            <a href="#" class="btn btn-primary my-2">{{ post.people }}명 모집</a>
              <a href="#" class="btn btn-primary my-2">일시: {{ post.duration }}</a>
          </p>
        </div>
      </section>
    <br>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message.message }}<br>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block content %}

    {{ post.update_counter }}
    {{ post.content | linebreaks }}
    <hr/>

    <a href="{% url "blog:post_list" %}" class="btn btn-primary" >목록으로</a>
    {% if post.author == user %}
        <a href="{% url "blog:post_edit" post.pk %}" class="btn btn-info right">수정</a>
        <a href="#"
           data-toggle="modal" data-target="#exampleModal"
           class="btn btn-danger float-right">삭제</a>
    {% endif %}
    <!--a href="{% url "blog:comment_new" post.pk %}">덧글 작성</a-->
    <br>
    <hr>

 <!--
    <ul>
        {% for comment in post.comment_set.all %}
            <li>
                {{ comment.message }}
                <small>by {{ comment.author }}, {{ coment.created_at }}</small>
                <a href="{% url "blog:comment_edit" post.pk  comment.pk %}">수정</a>
            </li>
        {% endfor %}
    </ul>
<hr>
-->

<div class="messaging">
  <div class="inbox_msg">
	<div class="mesgs">
	  <div class="msg_history">
        {% for comment in post.comment_set.all %}
            {% if comment.author == request.user%}
                <div class="outgoing_msg">
                  <div class="sent_msg">
                      <small>by {{ comment.author }} <a href="{% url "blog:comment_edit" post.pk  comment.pk %}">수정</a></small>
                      <p>{{ comment.message }}</p>
                       <span class="time_date"> {{ comment.created_at }}</span> </div>
                </div>
            {% else %}
                <div class="incoming_msg">
                  <div class="received_msg">
                    <div class="received_withd_msg">
                        <p>{{ comment.message }}</p>
                        <small>by , {{ comment.author }}</small>
                        <a href="{% url "blog:comment_edit" post.pk  comment.pk %}">수정</a>
                        <span class="time_date"> {{ coment.created_at }}</span></div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
<!--
	  <div class="type_msg">
		<div class="input_msg_write">
		  <input type="text" class="write_msg" placeholder="메시지를 입력해주세요" />
		  <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        </div>
	  </div>
-->
	</div>
  </div>
</div>
<br/>

<form action="{% url "blog:comment_new" post.pk %}" method="POST">
<div class="form-group">
    {% csrf_token %}
    {#  bootstrap_form comment_form  #}
    {{ comment_form.message |as_crispy_field }}
    <input type="submit" class="btn btn-success" value="메시지 전송"/>
</div>
</form>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="padding-top: 8px; padding-bottom: 8px">
        <i class="material-icons" style="margin-top: 5px">info</i>
        <h5 class="modal-title" id="exampleModalLabel">계정 관리</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        정말로 게시글을 삭제할까요?
      </div>
      <div class="modal-footer" style="padding-top: 11px; padding-bottom: 8px">
          <button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
          <button type="button" class="btn btn-primary">
              <a href="{% url "blog:post_remove" post.pk %}" style='padding: 0rem 0rem; color:white'>삭제</a>
          </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block extra_bottom %}

{% endblock %}