{% extends "ad_post/layout.html" %}
{% load static %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static "album_css.css" %}" />
    <style>
    .jumbotron {
          background-image: url({% static 'images/ad_post.JPG' %});
          background-size: cover;
          text-shadow: 1px 1px 9px black, 0 0 3em white, 0 0 0.5em white;
          color: white;
      }
</style>
{% endblock %}


{% block pure_content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message.message }}<br>
            </div>
        {% endfor %}
    {% endif %}

    <div class="jumbotron jumbotron-fluid" style="background-color: #8c8c8c">
      <div class="container">
        <h1 class="display-5">우리 지역의 행사</h1>
        <p class="lead">우리 지역 체육 시설에 무슨 행사가 있을까요?</p>
      </div>
    </div>

    <main role="main">
      <div class="album py-5">
        <div class="container">
          <div class="row">

{% for ad_post in ad_post_list %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <p class="card-text">
                      <a href="{% url "ad_post:post_detail" ad_post.pk %}">
                            {{ ad_post.title }}
                      </a>
                  </p>
                </div>
                  <div class="card-body" style="padding-top: 0px">
                    <img src = "{{ ad_post.imageThumbnail.url}}" style="width:100%; padding-bottom: 3px"/>

                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">작성-{{ ad_post.author }}</div>
                    <small class="text-muted">
                        <a href="{% url "ad_post:post_detail" ad_post.pk %}">
                            <button type="button" class="btn btn-success btn-sm">진행중</button>
                        </a>
                    </small>
                  </div>
                </div>
              </div>
            </div>
{% endfor %}

          </div>
<div class="d-flex flex-row-reverse">
        <a href="{% url "ad_post:post_new" %}" class="btn btn-primary right" >홍보하기</a>
        </div>
      </div>


    </div>
    </main>

{% endblock %}

